<div class="footerList col-xs-12 filterRecentF">
  <div class="listFooter marginPaddingFooter col-xs-12" style="padding:0 10px">
    <div class="col-xs-12 logoImg text-left zeroPadding">
      <div class="col-xs-12 zeroPadding">
        <img class="footerImg" routerLink="" src="{{footer.logoBottom}}" width="85px">
        <!-- <span style="font-size: 13px;top: 5px;position: relative;left: 5px;">{{footer.buySellSafe}}</span> -->
        <h4 class="pull-right hidden-xs hidden-sm marginPadding">{{footer.downloadApp}}</h4>
      </div>
      <!-- <h5 class="pull-left buySell">{{footer.buySellSafe}}</h5> -->
      <!-- <h4 class="pull-right hidden-xs hidden-sm">{{footer.downloadApp}}</h4> -->
    </div>
    <div class="socialList col-xs-12 zeroPadding" style="margin-top: 10px;">
      <span class="iconSocial col-xs-12 col-md-2 text-left paddingLeft" style="top: 6px;">
        <a target = "_blank" href="https://www.facebook.com/dillaalsom/">
          <img class="socialIcon marginSpace" src="{{footer.footerFB}}" width="35">
        </a>
        <a target = "_blank" href="https://www.instagram.com/dillaalsom/">
          <img class="socialIcon marginSpace" src="{{footer.footerInsta}}" width="35">
        </a>
        <a  target = "_blank" href="https://twitter.com/Dillaal3"> 
          <img class="socialIcon" src="{{footer.footerTwitter}}" width="35">
        </a>
      </span>
      <span class="footerText col-xs-12  col-lg-offset-1 col-md-6 col-lg-5 zeroPadding" style="top: 10px;">
        <li class="listYeloFooter list-Footer">
          <a class="footerA textDecoration" routerLink="./about">{{footer.aboutUs}}</a>
        </li>
        <li class="listYeloFooter list-Footer">
          <a class="footerA textDecoration" routerLink="./howitworks">{{footer.howWorks}}</a>
        </li>
        <li class="listYeloFooter list-Footer">
          <a class="footerA textDecoration" routerLink="./terms">{{footer.terms}}</a>
        </li>
        <li class="listYeloFooter list-Footer">
          <a class="footerA textDecoration" routerLink="./privacy">{{footer.privacy}}</a>
        </li>
        <li class="listYeloFooter list-Footer">
          <a class="footerA textDecoration" routerLink="./help">{{footer.help}}</a>
        </li>
      </span>
      <span class="appIcon text-right col-xs-12 col-md-4 zeroPadding">
        <div class="form-group visible-xs visible-sm">{{footer.downloadApp}}</div>
        <!-- <a href="https://play.google.com/store/apps/details?id=com.yelo.com&hl=en"> -->

          <img class="storeIcon marginSpace cursorPointer" src="{{footer.footerPlayStore}}" width="140">
        <!-- </a> -->
        <!-- <a href="https://itunes.apple.com/us/app/yelo-buy-sell-marketplace/id1216265952?mt=8"> -->
          <img class="storeIcon cursorPointer" src="{{footer.footerAppStore}}" width="140">
        <!-- </a> -->
      </span>
    </div>
    <!-- <hr class="col-xs-12 zeroPadding" style="border-color: gray;">
    <div class="paraText">@2017 by SIN PAY,LLC, (DBA MobiVenta) All Right Reserved. Sin Pay, LLC is a limited liability company formed and operated
      out of Las Vegas, NV.5940 S. Rainbow Bivd.89118. State of Nevada License NV20171582558 | Clark Country License 2003496.054-121
      | US Treasury Registered For all support issues email our support desk at
      <a class="footerUnder" href="">support@MobiVenta.io</a> | For media request please contact
      <a class="footerUnder" href="">media@MobiVenta.io</a>
    </div> -->

  </div>
</div>